# 忽略编译生成的bin和obj文件
bin/
obj/
.vs/
Library/
*.csproj
*.sln
/ShareFolder
/LuaFramework/Assets/Slua/jit
/LuaFramework/Assets/Slua/jit.meta
/LuaFramework/Assets/Slua/LuaObject
/LuaFramework/Assets/Slua/LuaObject.meta
/LuaFramework/Assets/Build
/LuaFramework/Assets/StreamingAssets
/LuaFramework/Temp/
/LuaFramework/Assets/Build/LuaScripts
/LuaFramework/Assets/Build/LuaScripts.meta
/LuaFramework/UploadTools/Client/Config.json
/LuaFramework.zip
